<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelAdjuntosxresena" header="Adjuntosxresena">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgAdresId" value="AdresId"/>
						 	<p:inputText id="txtAdresId" binding="#{adjuntosxresenaView.txtAdresId}">
						 		<p:ajax update="panelAdjuntosxresena,msg,panelBotones" listener="#{adjuntosxresenaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{adjuntosxresenaView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{adjuntosxresenaView.txtEstado}"/>
													<h:outputText id="msgUrlFotoRes" value=" UrlFotoRes"/>
							<p:inputText id="txtUrlFotoRes" disabled="true" binding="#{adjuntosxresenaView.txtUrlFotoRes}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{adjuntosxresenaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{adjuntosxresenaView.txtUsuarioModificador}"/>
													<h:outputText id="msgResId_Resena" value=" ResId_Resena"/>
							<p:inputText id="txtResId_Resena" disabled="true" binding="#{adjuntosxresenaView.txtResId_Resena}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{adjuntosxresenaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{adjuntosxresenaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{adjuntosxresenaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{adjuntosxresenaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{adjuntosxresenaView.btnSave}" disabled="true" value="Save" action="#{adjuntosxresenaView.action_save()}" update="panelAdjuntosxresena,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{adjuntosxresenaView.btnDelete}" disabled="true" value="Delete" action="#{adjuntosxresenaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelAdjuntosxresena,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{adjuntosxresenaView.action_clear()}" update="panelAdjuntosxresena,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>