<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableAdjuntosxresena" header="AdjuntosxresenaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{adjuntosxresenaView.data}" var="adjuntosxresena"
								paginator="true" rows="5">
																										<p:column filterBy="#{adjuntosxresena.adresId}" sortBy="#{adjuntosxresena.adresId}" >
										 <f:facet name="header">
										<h:outputText value="adresId"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.adresId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{adjuntosxresena.descripcion}" sortBy="#{adjuntosxresena.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.estado}" sortBy="#{adjuntosxresena.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.fechaCreacion}" sortBy="#{adjuntosxresena.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.fechaModificacion}" sortBy="#{adjuntosxresena.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.urlFotoRes}" sortBy="#{adjuntosxresena.urlFotoRes}" >
										 <f:facet name="header">
										<h:outputText value="UrlFotoRes"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.urlFotoRes}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.usuarioCreador}" sortBy="#{adjuntosxresena.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.usuarioModificador}" sortBy="#{adjuntosxresena.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntosxresena.resId_Resena}" sortBy="#{adjuntosxresena.resId_Resena}" >
										 <f:facet name="header">
										<h:outputText value="ResId_Resena"/>
										</f:facet>
										 <h:outputText value="#{adjuntosxresena.resId_Resena}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogAdjuntosxresena"
										actionListener="#{adjuntosxresenaView.action_edit}">
										<f:attribute name="selectedAdjuntosxresena" value="#{adjuntosxresena}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{adjuntosxresenaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedAdjuntosxresena" value="#{adjuntosxresena}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{adjuntosxresenaView.action_new()}" update=":dialogAdjuntosxresena" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogAdjuntosxresena" appendTo="@(body)" draggable="true"
						closable="false" visible="#{adjuntosxresenaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelAdjuntosxresena" header="Adjuntosxresena">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgAdresId" value="AdresId"/>
									 <p:inputText id="txtAdresId" binding="#{adjuntosxresenaView.txtAdresId}">
									 <p:ajax update=":dialogAdjuntosxresena" listener="#{adjuntosxresenaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{adjuntosxresenaView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{adjuntosxresenaView.txtEstado}"/>
																		<h:outputText id="msgUrlFotoRes" value=" UrlFotoRes"/>
									<p:inputText id="txtUrlFotoRes" disabled="true" binding="#{adjuntosxresenaView.txtUrlFotoRes}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{adjuntosxresenaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{adjuntosxresenaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgResId_Resena" value=" ResId_Resena"/>
									<p:inputText id="txtResId_Resena" disabled="true" binding="#{adjuntosxresenaView.txtResId_Resena}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{adjuntosxresenaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{adjuntosxresenaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{adjuntosxresenaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{adjuntosxresenaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{adjuntosxresenaView.btnSave}" value="Save" action="#{adjuntosxresenaView.action_save()}" update=":dialogAdjuntosxresena :frm:panelDataTableAdjuntosxresena" />
									<p:commandButton id="btnClear" value="Clear" action="#{adjuntosxresenaView.action_clear()}" update=":dialogAdjuntosxresena" />
									<p:commandButton id="btnExit" value="Exit" action="#{adjuntosxresenaView.action_closeDialog()}" update=":dialogAdjuntosxresena" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

