<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableAdjuntoxpregunta" header="AdjuntoxpreguntaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{adjuntoxpreguntaView.data}" var="adjuntoxpregunta"
								paginator="true" rows="5">
																										<p:column filterBy="#{adjuntoxpregunta.adjpreId}" sortBy="#{adjuntoxpregunta.adjpreId}" >
										 <f:facet name="header">
										<h:outputText value="adjpreId"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.adjpreId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{adjuntoxpregunta.descripcion}" sortBy="#{adjuntoxpregunta.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.estado}" sortBy="#{adjuntoxpregunta.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.fechaCreacion}" sortBy="#{adjuntoxpregunta.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.fechaModificacion}" sortBy="#{adjuntoxpregunta.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.urlFotoPregunta}" sortBy="#{adjuntoxpregunta.urlFotoPregunta}" >
										 <f:facet name="header">
										<h:outputText value="UrlFotoPregunta"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.urlFotoPregunta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.usuarioCreador}" sortBy="#{adjuntoxpregunta.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.usuarioModificador}" sortBy="#{adjuntoxpregunta.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{adjuntoxpregunta.preId_Pregunta}" sortBy="#{adjuntoxpregunta.preId_Pregunta}" >
										 <f:facet name="header">
										<h:outputText value="PreId_Pregunta"/>
										</f:facet>
										 <h:outputText value="#{adjuntoxpregunta.preId_Pregunta}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogAdjuntoxpregunta"
										actionListener="#{adjuntoxpreguntaView.action_edit}">
										<f:attribute name="selectedAdjuntoxpregunta" value="#{adjuntoxpregunta}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{adjuntoxpreguntaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedAdjuntoxpregunta" value="#{adjuntoxpregunta}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{adjuntoxpreguntaView.action_new()}" update=":dialogAdjuntoxpregunta" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogAdjuntoxpregunta" appendTo="@(body)" draggable="true"
						closable="false" visible="#{adjuntoxpreguntaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelAdjuntoxpregunta" header="Adjuntoxpregunta">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgAdjpreId" value="AdjpreId"/>
									 <p:inputText id="txtAdjpreId" binding="#{adjuntoxpreguntaView.txtAdjpreId}">
									 <p:ajax update=":dialogAdjuntoxpregunta" listener="#{adjuntoxpreguntaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{adjuntoxpreguntaView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{adjuntoxpreguntaView.txtEstado}"/>
																		<h:outputText id="msgUrlFotoPregunta" value=" UrlFotoPregunta"/>
									<p:inputText id="txtUrlFotoPregunta" disabled="true" binding="#{adjuntoxpreguntaView.txtUrlFotoPregunta}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{adjuntoxpreguntaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{adjuntoxpreguntaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgPreId_Pregunta" value=" PreId_Pregunta"/>
									<p:inputText id="txtPreId_Pregunta" disabled="true" binding="#{adjuntoxpreguntaView.txtPreId_Pregunta}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{adjuntoxpreguntaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{adjuntoxpreguntaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{adjuntoxpreguntaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{adjuntoxpreguntaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{adjuntoxpreguntaView.btnSave}" value="Save" action="#{adjuntoxpreguntaView.action_save()}" update=":dialogAdjuntoxpregunta :frm:panelDataTableAdjuntoxpregunta" />
									<p:commandButton id="btnClear" value="Clear" action="#{adjuntoxpreguntaView.action_clear()}" update=":dialogAdjuntoxpregunta" />
									<p:commandButton id="btnExit" value="Exit" action="#{adjuntoxpreguntaView.action_closeDialog()}" update=":dialogAdjuntoxpregunta" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

