<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelAdjuntoxpregunta" header="Adjuntoxpregunta">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgAdjpreId" value="AdjpreId"/>
						 	<p:inputText id="txtAdjpreId" binding="#{adjuntoxpreguntaView.txtAdjpreId}">
						 		<p:ajax update="panelAdjuntoxpregunta,msg,panelBotones" listener="#{adjuntoxpreguntaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{adjuntoxpreguntaView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{adjuntoxpreguntaView.txtEstado}"/>
													<h:outputText id="msgUrlFotoPregunta" value=" UrlFotoPregunta"/>
							<p:inputText id="txtUrlFotoPregunta" disabled="true" binding="#{adjuntoxpreguntaView.txtUrlFotoPregunta}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{adjuntoxpreguntaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{adjuntoxpreguntaView.txtUsuarioModificador}"/>
													<h:outputText id="msgPreId_Pregunta" value=" PreId_Pregunta"/>
							<p:inputText id="txtPreId_Pregunta" disabled="true" binding="#{adjuntoxpreguntaView.txtPreId_Pregunta}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{adjuntoxpreguntaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{adjuntoxpreguntaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{adjuntoxpreguntaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{adjuntoxpreguntaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{adjuntoxpreguntaView.btnSave}" disabled="true" value="Save" action="#{adjuntoxpreguntaView.action_save()}" update="panelAdjuntoxpregunta,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{adjuntoxpreguntaView.btnDelete}" disabled="true" value="Delete" action="#{adjuntoxpreguntaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelAdjuntoxpregunta,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{adjuntoxpreguntaView.action_clear()}" update="panelAdjuntoxpregunta,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>