<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelAuditoria" header="Auditoria">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgAudId" value="AudId"/>
						 	<p:inputText id="txtAudId" binding="#{auditoriaView.txtAudId}">
						 		<p:ajax update="panelAuditoria,msg,panelBotones" listener="#{auditoriaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{auditoriaView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{auditoriaView.txtEstado}"/>
													<h:outputText id="msgModificacion" value=" Modificacion"/>
							<p:inputText id="txtModificacion" disabled="true" binding="#{auditoriaView.txtModificacion}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{auditoriaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{auditoriaView.txtUsuarioModificador}"/>
													<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
							<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{auditoriaView.txtUsuId_Usuario}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{auditoriaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{auditoriaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{auditoriaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{auditoriaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{auditoriaView.btnSave}" disabled="true" value="Save" action="#{auditoriaView.action_save()}" update="panelAuditoria,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{auditoriaView.btnDelete}" disabled="true" value="Delete" action="#{auditoriaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelAuditoria,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{auditoriaView.action_clear()}" update="panelAuditoria,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>