<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableAuditoria" header="AuditoriaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{auditoriaView.data}" var="auditoria"
								paginator="true" rows="5">
																										<p:column filterBy="#{auditoria.audId}" sortBy="#{auditoria.audId}" >
										 <f:facet name="header">
										<h:outputText value="audId"/>
										</f:facet>
										 <h:outputText value="#{auditoria.audId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{auditoria.descripcion}" sortBy="#{auditoria.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{auditoria.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.estado}" sortBy="#{auditoria.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{auditoria.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.fechaCreacion}" sortBy="#{auditoria.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{auditoria.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.fechaModificacion}" sortBy="#{auditoria.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{auditoria.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.modificacion}" sortBy="#{auditoria.modificacion}" >
										 <f:facet name="header">
										<h:outputText value="Modificacion"/>
										</f:facet>
										 <h:outputText value="#{auditoria.modificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.usuarioCreador}" sortBy="#{auditoria.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{auditoria.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.usuarioModificador}" sortBy="#{auditoria.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{auditoria.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{auditoria.usuId_Usuario}" sortBy="#{auditoria.usuId_Usuario}" >
										 <f:facet name="header">
										<h:outputText value="UsuId_Usuario"/>
										</f:facet>
										 <h:outputText value="#{auditoria.usuId_Usuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogAuditoria"
										actionListener="#{auditoriaView.action_edit}">
										<f:attribute name="selectedAuditoria" value="#{auditoria}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{auditoriaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedAuditoria" value="#{auditoria}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{auditoriaView.action_new()}" update=":dialogAuditoria" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogAuditoria" appendTo="@(body)" draggable="true"
						closable="false" visible="#{auditoriaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelAuditoria" header="Auditoria">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgAudId" value="AudId"/>
									 <p:inputText id="txtAudId" binding="#{auditoriaView.txtAudId}">
									 <p:ajax update=":dialogAuditoria" listener="#{auditoriaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{auditoriaView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{auditoriaView.txtEstado}"/>
																		<h:outputText id="msgModificacion" value=" Modificacion"/>
									<p:inputText id="txtModificacion" disabled="true" binding="#{auditoriaView.txtModificacion}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{auditoriaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{auditoriaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
									<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{auditoriaView.txtUsuId_Usuario}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{auditoriaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{auditoriaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{auditoriaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{auditoriaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{auditoriaView.btnSave}" value="Save" action="#{auditoriaView.action_save()}" update=":dialogAuditoria :frm:panelDataTableAuditoria" />
									<p:commandButton id="btnClear" value="Clear" action="#{auditoriaView.action_clear()}" update=":dialogAuditoria" />
									<p:commandButton id="btnExit" value="Exit" action="#{auditoriaView.action_closeDialog()}" update=":dialogAuditoria" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

