<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelEspecie" header="Especie">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgEspeId" value="EspeId"/>
						 	<p:inputText id="txtEspeId" binding="#{especieView.txtEspeId}">
						 		<p:ajax update="panelEspecie,msg,panelBotones" listener="#{especieView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgAltitud" value=" Altitud"/>
							<p:inputText id="txtAltitud" disabled="true" binding="#{especieView.txtAltitud}"/>
													<h:outputText id="msgCuidados" value=" Cuidados"/>
							<p:inputText id="txtCuidados" disabled="true" binding="#{especieView.txtCuidados}"/>
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{especieView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{especieView.txtEstado}"/>
													<h:outputText id="msgFlor" value=" Flor"/>
							<p:inputText id="txtFlor" disabled="true" binding="#{especieView.txtFlor}"/>
													<h:outputText id="msgFruto" value=" Fruto"/>
							<p:inputText id="txtFruto" disabled="true" binding="#{especieView.txtFruto}"/>
													<h:outputText id="msgNombreCientifico" value=" NombreCientifico"/>
							<p:inputText id="txtNombreCientifico" disabled="true" binding="#{especieView.txtNombreCientifico}"/>
													<h:outputText id="msgNombreComun" value=" NombreComun"/>
							<p:inputText id="txtNombreComun" disabled="true" binding="#{especieView.txtNombreComun}"/>
													<h:outputText id="msgPlagas" value=" Plagas"/>
							<p:inputText id="txtPlagas" disabled="true" binding="#{especieView.txtPlagas}"/>
													<h:outputText id="msgRaiz" value=" Raiz"/>
							<p:inputText id="txtRaiz" disabled="true" binding="#{especieView.txtRaiz}"/>
													<h:outputText id="msgRiego" value=" Riego"/>
							<p:inputText id="txtRiego" disabled="true" binding="#{especieView.txtRiego}"/>
													<h:outputText id="msgSilueta" value=" Silueta"/>
							<p:inputText id="txtSilueta" disabled="true" binding="#{especieView.txtSilueta}"/>
													<h:outputText id="msgSol" value=" Sol"/>
							<p:inputText id="txtSol" disabled="true" binding="#{especieView.txtSol}"/>
													<h:outputText id="msgSuelo" value=" Suelo"/>
							<p:inputText id="txtSuelo" disabled="true" binding="#{especieView.txtSuelo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{especieView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{especieView.txtUsuarioModificador}"/>
													<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
							<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{especieView.txtUsuId_Usuario}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{especieView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{especieView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{especieView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{especieView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{especieView.btnSave}" disabled="true" value="Save" action="#{especieView.action_save()}" update="panelEspecie,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{especieView.btnDelete}" disabled="true" value="Delete" action="#{especieView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelEspecie,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{especieView.action_clear()}" update="panelEspecie,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>