<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableEspecie" header="EspecieData">
							<p:growl id="men"/>				
							<p:dataTable value="#{especieView.data}" var="especie"
								paginator="true" rows="5">
																										<p:column filterBy="#{especie.espeId}" sortBy="#{especie.espeId}" >
										 <f:facet name="header">
										<h:outputText value="espeId"/>
										</f:facet>
										 <h:outputText value="#{especie.espeId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{especie.altitud}" sortBy="#{especie.altitud}" >
										 <f:facet name="header">
										<h:outputText value="Altitud"/>
										</f:facet>
										 <h:outputText value="#{especie.altitud}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.cuidados}" sortBy="#{especie.cuidados}" >
										 <f:facet name="header">
										<h:outputText value="Cuidados"/>
										</f:facet>
										 <h:outputText value="#{especie.cuidados}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.descripcion}" sortBy="#{especie.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{especie.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.estado}" sortBy="#{especie.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{especie.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.fechaCreacion}" sortBy="#{especie.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{especie.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.fechaModificacion}" sortBy="#{especie.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{especie.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.flor}" sortBy="#{especie.flor}" >
										 <f:facet name="header">
										<h:outputText value="Flor"/>
										</f:facet>
										 <h:outputText value="#{especie.flor}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.fruto}" sortBy="#{especie.fruto}" >
										 <f:facet name="header">
										<h:outputText value="Fruto"/>
										</f:facet>
										 <h:outputText value="#{especie.fruto}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.nombreCientifico}" sortBy="#{especie.nombreCientifico}" >
										 <f:facet name="header">
										<h:outputText value="NombreCientifico"/>
										</f:facet>
										 <h:outputText value="#{especie.nombreCientifico}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.nombreComun}" sortBy="#{especie.nombreComun}" >
										 <f:facet name="header">
										<h:outputText value="NombreComun"/>
										</f:facet>
										 <h:outputText value="#{especie.nombreComun}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.plagas}" sortBy="#{especie.plagas}" >
										 <f:facet name="header">
										<h:outputText value="Plagas"/>
										</f:facet>
										 <h:outputText value="#{especie.plagas}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.raiz}" sortBy="#{especie.raiz}" >
										 <f:facet name="header">
										<h:outputText value="Raiz"/>
										</f:facet>
										 <h:outputText value="#{especie.raiz}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.riego}" sortBy="#{especie.riego}" >
										 <f:facet name="header">
										<h:outputText value="Riego"/>
										</f:facet>
										 <h:outputText value="#{especie.riego}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.silueta}" sortBy="#{especie.silueta}" >
										 <f:facet name="header">
										<h:outputText value="Silueta"/>
										</f:facet>
										 <h:outputText value="#{especie.silueta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.sol}" sortBy="#{especie.sol}" >
										 <f:facet name="header">
										<h:outputText value="Sol"/>
										</f:facet>
										 <h:outputText value="#{especie.sol}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.suelo}" sortBy="#{especie.suelo}" >
										 <f:facet name="header">
										<h:outputText value="Suelo"/>
										</f:facet>
										 <h:outputText value="#{especie.suelo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.usuarioCreador}" sortBy="#{especie.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{especie.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.usuarioModificador}" sortBy="#{especie.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{especie.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{especie.usuId_Usuario}" sortBy="#{especie.usuId_Usuario}" >
										 <f:facet name="header">
										<h:outputText value="UsuId_Usuario"/>
										</f:facet>
										 <h:outputText value="#{especie.usuId_Usuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogEspecie"
										actionListener="#{especieView.action_edit}">
										<f:attribute name="selectedEspecie" value="#{especie}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{especieView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedEspecie" value="#{especie}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{especieView.action_new()}" update=":dialogEspecie" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogEspecie" appendTo="@(body)" draggable="true"
						closable="false" visible="#{especieView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelEspecie" header="Especie">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgEspeId" value="EspeId"/>
									 <p:inputText id="txtEspeId" binding="#{especieView.txtEspeId}">
									 <p:ajax update=":dialogEspecie" listener="#{especieView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgAltitud" value=" Altitud"/>
									<p:inputText id="txtAltitud" disabled="true" binding="#{especieView.txtAltitud}"/>
																		<h:outputText id="msgCuidados" value=" Cuidados"/>
									<p:inputText id="txtCuidados" disabled="true" binding="#{especieView.txtCuidados}"/>
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{especieView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{especieView.txtEstado}"/>
																		<h:outputText id="msgFlor" value=" Flor"/>
									<p:inputText id="txtFlor" disabled="true" binding="#{especieView.txtFlor}"/>
																		<h:outputText id="msgFruto" value=" Fruto"/>
									<p:inputText id="txtFruto" disabled="true" binding="#{especieView.txtFruto}"/>
																		<h:outputText id="msgNombreCientifico" value=" NombreCientifico"/>
									<p:inputText id="txtNombreCientifico" disabled="true" binding="#{especieView.txtNombreCientifico}"/>
																		<h:outputText id="msgNombreComun" value=" NombreComun"/>
									<p:inputText id="txtNombreComun" disabled="true" binding="#{especieView.txtNombreComun}"/>
																		<h:outputText id="msgPlagas" value=" Plagas"/>
									<p:inputText id="txtPlagas" disabled="true" binding="#{especieView.txtPlagas}"/>
																		<h:outputText id="msgRaiz" value=" Raiz"/>
									<p:inputText id="txtRaiz" disabled="true" binding="#{especieView.txtRaiz}"/>
																		<h:outputText id="msgRiego" value=" Riego"/>
									<p:inputText id="txtRiego" disabled="true" binding="#{especieView.txtRiego}"/>
																		<h:outputText id="msgSilueta" value=" Silueta"/>
									<p:inputText id="txtSilueta" disabled="true" binding="#{especieView.txtSilueta}"/>
																		<h:outputText id="msgSol" value=" Sol"/>
									<p:inputText id="txtSol" disabled="true" binding="#{especieView.txtSol}"/>
																		<h:outputText id="msgSuelo" value=" Suelo"/>
									<p:inputText id="txtSuelo" disabled="true" binding="#{especieView.txtSuelo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{especieView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{especieView.txtUsuarioModificador}"/>
																		<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
									<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{especieView.txtUsuId_Usuario}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{especieView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{especieView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{especieView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{especieView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{especieView.btnSave}" value="Save" action="#{especieView.action_save()}" update=":dialogEspecie :frm:panelDataTableEspecie" />
									<p:commandButton id="btnClear" value="Clear" action="#{especieView.action_clear()}" update=":dialogEspecie" />
									<p:commandButton id="btnExit" value="Exit" action="#{especieView.action_closeDialog()}" update=":dialogEspecie" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

