<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelGaleria" header="Galeria">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgGalId" value="GalId"/>
						 	<p:inputText id="txtGalId" binding="#{galeriaView.txtGalId}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgUsuarioCreador" value="UsuarioCreador"/>
						 	<p:inputText id="txtUsuarioCreador" binding="#{galeriaView.txtUsuarioCreador}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgUsuarioModificador" value="UsuarioModificador"/>
						 	<p:inputText id="txtUsuarioModificador" binding="#{galeriaView.txtUsuarioModificador}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgEstado" value="Estado"/>
						 	<p:inputText id="txtEstado" binding="#{galeriaView.txtEstado}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgDescripcion" value="Descripcion"/>
						 	<p:inputText id="txtDescripcion" binding="#{galeriaView.txtDescripcion}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgUrlFotoGaleria" value="UrlFotoGaleria"/>
						 	<p:inputText id="txtUrlFotoGaleria" binding="#{galeriaView.txtUrlFotoGaleria}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgJardinJarId" value="JardinJarId"/>
						 	<p:inputText id="txtJardinJarId" binding="#{galeriaView.txtJardinJarId}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
												 	<h:outputText id="msgUsuarioUsuId" value="UsuarioUsuId"/>
						 	<p:inputText id="txtUsuarioUsuId" binding="#{galeriaView.txtUsuarioUsuId}">
						 		<p:ajax update="panelGaleria,msg,panelBotones" listener="#{galeriaView.listener_txtId}"/>
						 	</p:inputText>	
																										<h:outputText id="msgEntity.getId().getFechaCreacion()" value=" Entity.getId().getFechaCreacion()"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{galeriaView.txtEntity.getId().getFechaCreacion()}" >
								<p:ajax event="dateSelect" listener="#{galeriaView.listener_txtEntity.getId().getFechaCreacion()}" />
							</p:calendar>
														<h:outputText id="msgEntity.getId().getFechaModificacion()" value=" Entity.getId().getFechaModificacion()"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{galeriaView.txtEntity.getId().getFechaModificacion()}" >
								<p:ajax event="dateSelect" listener="#{galeriaView.listener_txtEntity.getId().getFechaModificacion()}" />
							</p:calendar>
																			
													<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
							<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{galeriaView.txtJarId_Jardin}"/>
													<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
							<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{galeriaView.txtUsuId_Usuario}"/>
												
										   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{galeriaView.btnSave}" disabled="true" value="Save" action="#{galeriaView.action_save()}" update="panelGaleria,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{galeriaView.btnDelete}" disabled="true" value="Delete" action="#{galeriaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelGaleria,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{galeriaView.action_clear()}" update="panelGaleria,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>