<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableGaleria" header="GaleriaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{galeriaView.data}" var="galeria"
								paginator="true" rows="5">
																										<p:column filterBy="#{galeria.galId}" sortBy="#{galeria.galId}" >
										 <f:facet name="header">
										<h:outputText value="galId"/>
										</f:facet>
										 <h:outputText value="#{galeria.galId}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.fechaCreacion}" sortBy="#{galeria.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="fechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{galeria.fechaCreacion}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.fechaModificacion}" sortBy="#{galeria.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="fechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{galeria.fechaModificacion}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.usuarioCreador}" sortBy="#{galeria.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="usuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{galeria.usuarioCreador}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.usuarioModificador}" sortBy="#{galeria.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="usuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{galeria.usuarioModificador}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.estado}" sortBy="#{galeria.estado}" >
										 <f:facet name="header">
										<h:outputText value="estado"/>
										</f:facet>
										 <h:outputText value="#{galeria.estado}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.descripcion}" sortBy="#{galeria.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="descripcion"/>
										</f:facet>
										 <h:outputText value="#{galeria.descripcion}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.urlFotoGaleria}" sortBy="#{galeria.urlFotoGaleria}" >
										 <f:facet name="header">
										<h:outputText value="urlFotoGaleria"/>
										</f:facet>
										 <h:outputText value="#{galeria.urlFotoGaleria}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.jardinJarId}" sortBy="#{galeria.jardinJarId}" >
										 <f:facet name="header">
										<h:outputText value="jardinJarId"/>
										</f:facet>
										 <h:outputText value="#{galeria.jardinJarId}"/>
										 </p:column>
			                    										<p:column filterBy="#{galeria.usuarioUsuId}" sortBy="#{galeria.usuarioUsuId}" >
										 <f:facet name="header">
										<h:outputText value="usuarioUsuId"/>
										</f:facet>
										 <h:outputText value="#{galeria.usuarioUsuId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{galeria.jarId_Jardin}" sortBy="#{galeria.jarId_Jardin}" >
										 <f:facet name="header">
										<h:outputText value="JarId_Jardin"/>
										</f:facet>
										 <h:outputText value="#{galeria.jarId_Jardin}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{galeria.usuId_Usuario}" sortBy="#{galeria.usuId_Usuario}" >
										 <f:facet name="header">
										<h:outputText value="UsuId_Usuario"/>
										</f:facet>
										 <h:outputText value="#{galeria.usuId_Usuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogGaleria"
										actionListener="#{galeriaView.action_edit}">
										<f:attribute name="selectedGaleria" value="#{galeria}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{galeriaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedGaleria" value="#{galeria}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{galeriaView.action_new()}" update=":dialogGaleria" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogGaleria" appendTo="@(body)" draggable="true"
						closable="false" visible="#{galeriaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelGaleria" header="Galeria">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgGalId" value="GalId"/>
									 <p:inputText id="txtGalId" binding="#{galeriaView.txtGalId}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgUsuarioCreador" value="UsuarioCreador"/>
									 <p:inputText id="txtUsuarioCreador" binding="#{galeriaView.txtUsuarioCreador}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgUsuarioModificador" value="UsuarioModificador"/>
									 <p:inputText id="txtUsuarioModificador" binding="#{galeriaView.txtUsuarioModificador}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgEstado" value="Estado"/>
									 <p:inputText id="txtEstado" binding="#{galeriaView.txtEstado}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgDescripcion" value="Descripcion"/>
									 <p:inputText id="txtDescripcion" binding="#{galeriaView.txtDescripcion}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgUrlFotoGaleria" value="UrlFotoGaleria"/>
									 <p:inputText id="txtUrlFotoGaleria" binding="#{galeriaView.txtUrlFotoGaleria}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgJardinJarId" value="JardinJarId"/>
									 <p:inputText id="txtJardinJarId" binding="#{galeriaView.txtJardinJarId}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																		 <h:outputText id="msgUsuarioUsuId" value="UsuarioUsuId"/>
									 <p:inputText id="txtUsuarioUsuId" binding="#{galeriaView.txtUsuarioUsuId}">
									 <p:ajax update=":dialogGaleria" listener="#{galeriaView.listener_txtId}"/>
									 </p:inputText>	
																																						<h:outputText id="msgEntity.getId().getFechaCreacion()" value=" Entity.getId().getFechaCreacion()"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{galeriaView.txtEntity.getId().getFechaCreacion()}" >
										<p:ajax event="dateSelect" listener="#{galeriaView.listener_txtEntity.getId().getFechaCreacion()}"/>
										</p:calendar>
																				<h:outputText id="msgEntity.getId().getFechaModificacion()" value=" Entity.getId().getFechaModificacion()"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{galeriaView.txtEntity.getId().getFechaModificacion()}" >
										<p:ajax event="dateSelect" listener="#{galeriaView.listener_txtEntity.getId().getFechaModificacion()}"/>
										</p:calendar>
																												
																		<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
									<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{galeriaView.txtJarId_Jardin}"/>
																		<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
									<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{galeriaView.txtUsuId_Usuario}"/>
																		
																    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{galeriaView.btnSave}" value="Save" action="#{galeriaView.action_save()}" update=":dialogGaleria :frm:panelDataTableGaleria" />
									<p:commandButton id="btnClear" value="Clear" action="#{galeriaView.action_clear()}" update=":dialogGaleria" />
									<p:commandButton id="btnExit" value="Exit" action="#{galeriaView.action_closeDialog()}" update=":dialogGaleria" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

