<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableJardinEspecie" header="JardinEspecieData">
							<p:growl id="men"/>				
							<p:dataTable value="#{jardinEspecieView.data}" var="jardinEspecie"
								paginator="true" rows="5">
																										<p:column filterBy="#{jardinEspecie.jarespId}" sortBy="#{jardinEspecie.jarespId}" >
										 <f:facet name="header">
										<h:outputText value="jarespId"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.jarespId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{jardinEspecie.descripcion}" sortBy="#{jardinEspecie.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.estado}" sortBy="#{jardinEspecie.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.fechaCreacion}" sortBy="#{jardinEspecie.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.fechaModificacion}" sortBy="#{jardinEspecie.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.usuarioCreador}" sortBy="#{jardinEspecie.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.usuarioModificador}" sortBy="#{jardinEspecie.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.espeId_Especie}" sortBy="#{jardinEspecie.espeId_Especie}" >
										 <f:facet name="header">
										<h:outputText value="EspeId_Especie"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.espeId_Especie}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardinEspecie.jarId_Jardin}" sortBy="#{jardinEspecie.jarId_Jardin}" >
										 <f:facet name="header">
										<h:outputText value="JarId_Jardin"/>
										</f:facet>
										 <h:outputText value="#{jardinEspecie.jarId_Jardin}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogJardinEspecie"
										actionListener="#{jardinEspecieView.action_edit}">
										<f:attribute name="selectedJardinEspecie" value="#{jardinEspecie}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{jardinEspecieView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedJardinEspecie" value="#{jardinEspecie}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{jardinEspecieView.action_new()}" update=":dialogJardinEspecie" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogJardinEspecie" appendTo="@(body)" draggable="true"
						closable="false" visible="#{jardinEspecieView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelJardinEspecie" header="JardinEspecie">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgJarespId" value="JarespId"/>
									 <p:inputText id="txtJarespId" binding="#{jardinEspecieView.txtJarespId}">
									 <p:ajax update=":dialogJardinEspecie" listener="#{jardinEspecieView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{jardinEspecieView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{jardinEspecieView.txtEstado}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{jardinEspecieView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{jardinEspecieView.txtUsuarioModificador}"/>
																		<h:outputText id="msgEspeId_Especie" value=" EspeId_Especie"/>
									<p:inputText id="txtEspeId_Especie" disabled="true" binding="#{jardinEspecieView.txtEspeId_Especie}"/>
																		<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
									<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{jardinEspecieView.txtJarId_Jardin}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{jardinEspecieView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{jardinEspecieView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{jardinEspecieView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{jardinEspecieView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{jardinEspecieView.btnSave}" value="Save" action="#{jardinEspecieView.action_save()}" update=":dialogJardinEspecie :frm:panelDataTableJardinEspecie" />
									<p:commandButton id="btnClear" value="Clear" action="#{jardinEspecieView.action_clear()}" update=":dialogJardinEspecie" />
									<p:commandButton id="btnExit" value="Exit" action="#{jardinEspecieView.action_closeDialog()}" update=":dialogJardinEspecie" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

