<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelJardinEspecie" header="JardinEspecie">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgJarespId" value="JarespId"/>
						 	<p:inputText id="txtJarespId" binding="#{jardinEspecieView.txtJarespId}">
						 		<p:ajax update="panelJardinEspecie,msg,panelBotones" listener="#{jardinEspecieView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{jardinEspecieView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{jardinEspecieView.txtEstado}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{jardinEspecieView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{jardinEspecieView.txtUsuarioModificador}"/>
													<h:outputText id="msgEspeId_Especie" value=" EspeId_Especie"/>
							<p:inputText id="txtEspeId_Especie" disabled="true" binding="#{jardinEspecieView.txtEspeId_Especie}"/>
													<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
							<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{jardinEspecieView.txtJarId_Jardin}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{jardinEspecieView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{jardinEspecieView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{jardinEspecieView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{jardinEspecieView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{jardinEspecieView.btnSave}" disabled="true" value="Save" action="#{jardinEspecieView.action_save()}" update="panelJardinEspecie,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{jardinEspecieView.btnDelete}" disabled="true" value="Delete" action="#{jardinEspecieView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelJardinEspecie,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{jardinEspecieView.action_clear()}" update="panelJardinEspecie,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>