<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableJardin" header="JardinData">
							<p:growl id="men"/>				
							<p:dataTable value="#{jardinView.data}" var="jardin"
								paginator="true" rows="5">
																										<p:column filterBy="#{jardin.jarId}" sortBy="#{jardin.jarId}" >
										 <f:facet name="header">
										<h:outputText value="jarId"/>
										</f:facet>
										 <h:outputText value="#{jardin.jarId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{jardin.altitud}" sortBy="#{jardin.altitud}" >
										 <f:facet name="header">
										<h:outputText value="Altitud"/>
										</f:facet>
										 <h:outputText value="#{jardin.altitud}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.barrio}" sortBy="#{jardin.barrio}" >
										 <f:facet name="header">
										<h:outputText value="Barrio"/>
										</f:facet>
										 <h:outputText value="#{jardin.barrio}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.descripcion}" sortBy="#{jardin.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{jardin.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.direccion}" sortBy="#{jardin.direccion}" >
										 <f:facet name="header">
										<h:outputText value="Direccion"/>
										</f:facet>
										 <h:outputText value="#{jardin.direccion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.estado}" sortBy="#{jardin.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{jardin.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.fechaCreacion}" sortBy="#{jardin.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{jardin.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.fechaModificacion}" sortBy="#{jardin.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{jardin.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.latitud}" sortBy="#{jardin.latitud}" >
										 <f:facet name="header">
										<h:outputText value="Latitud"/>
										</f:facet>
										 <h:outputText value="#{jardin.latitud}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.nombreJardin}" sortBy="#{jardin.nombreJardin}" >
										 <f:facet name="header">
										<h:outputText value="NombreJardin"/>
										</f:facet>
										 <h:outputText value="#{jardin.nombreJardin}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.usuarioCreador}" sortBy="#{jardin.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{jardin.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.usuarioModificador}" sortBy="#{jardin.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{jardin.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.zona}" sortBy="#{jardin.zona}" >
										 <f:facet name="header">
										<h:outputText value="Zona"/>
										</f:facet>
										 <h:outputText value="#{jardin.zona}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{jardin.usuId_Usuario}" sortBy="#{jardin.usuId_Usuario}" >
										 <f:facet name="header">
										<h:outputText value="UsuId_Usuario"/>
										</f:facet>
										 <h:outputText value="#{jardin.usuId_Usuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogJardin"
										actionListener="#{jardinView.action_edit}">
										<f:attribute name="selectedJardin" value="#{jardin}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{jardinView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedJardin" value="#{jardin}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{jardinView.action_new()}" update=":dialogJardin" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogJardin" appendTo="@(body)" draggable="true"
						closable="false" visible="#{jardinView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelJardin" header="Jardin">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgJarId" value="JarId"/>
									 <p:inputText id="txtJarId" binding="#{jardinView.txtJarId}">
									 <p:ajax update=":dialogJardin" listener="#{jardinView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgAltitud" value=" Altitud"/>
									<p:inputText id="txtAltitud" disabled="true" binding="#{jardinView.txtAltitud}"/>
																		<h:outputText id="msgBarrio" value=" Barrio"/>
									<p:inputText id="txtBarrio" disabled="true" binding="#{jardinView.txtBarrio}"/>
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{jardinView.txtDescripcion}"/>
																		<h:outputText id="msgDireccion" value=" Direccion"/>
									<p:inputText id="txtDireccion" disabled="true" binding="#{jardinView.txtDireccion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{jardinView.txtEstado}"/>
																		<h:outputText id="msgLatitud" value=" Latitud"/>
									<p:inputText id="txtLatitud" disabled="true" binding="#{jardinView.txtLatitud}"/>
																		<h:outputText id="msgNombreJardin" value=" NombreJardin"/>
									<p:inputText id="txtNombreJardin" disabled="true" binding="#{jardinView.txtNombreJardin}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{jardinView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{jardinView.txtUsuarioModificador}"/>
																		<h:outputText id="msgZona" value=" Zona"/>
									<p:inputText id="txtZona" disabled="true" binding="#{jardinView.txtZona}"/>
																		<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
									<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{jardinView.txtUsuId_Usuario}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{jardinView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{jardinView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{jardinView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{jardinView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{jardinView.btnSave}" value="Save" action="#{jardinView.action_save()}" update=":dialogJardin :frm:panelDataTableJardin" />
									<p:commandButton id="btnClear" value="Clear" action="#{jardinView.action_clear()}" update=":dialogJardin" />
									<p:commandButton id="btnExit" value="Exit" action="#{jardinView.action_closeDialog()}" update=":dialogJardin" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

