<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelJardin" header="Jardin">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgJarId" value="JarId"/>
						 	<p:inputText id="txtJarId" binding="#{jardinView.txtJarId}">
						 		<p:ajax update="panelJardin,msg,panelBotones" listener="#{jardinView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgAltitud" value=" Altitud"/>
							<p:inputText id="txtAltitud" disabled="true" binding="#{jardinView.txtAltitud}"/>
													<h:outputText id="msgBarrio" value=" Barrio"/>
							<p:inputText id="txtBarrio" disabled="true" binding="#{jardinView.txtBarrio}"/>
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{jardinView.txtDescripcion}"/>
													<h:outputText id="msgDireccion" value=" Direccion"/>
							<p:inputText id="txtDireccion" disabled="true" binding="#{jardinView.txtDireccion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{jardinView.txtEstado}"/>
													<h:outputText id="msgLatitud" value=" Latitud"/>
							<p:inputText id="txtLatitud" disabled="true" binding="#{jardinView.txtLatitud}"/>
													<h:outputText id="msgNombreJardin" value=" NombreJardin"/>
							<p:inputText id="txtNombreJardin" disabled="true" binding="#{jardinView.txtNombreJardin}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{jardinView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{jardinView.txtUsuarioModificador}"/>
													<h:outputText id="msgZona" value=" Zona"/>
							<p:inputText id="txtZona" disabled="true" binding="#{jardinView.txtZona}"/>
													<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
							<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{jardinView.txtUsuId_Usuario}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{jardinView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{jardinView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{jardinView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{jardinView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{jardinView.btnSave}" disabled="true" value="Save" action="#{jardinView.action_save()}" update="panelJardin,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{jardinView.btnDelete}" disabled="true" value="Delete" action="#{jardinView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelJardin,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{jardinView.action_clear()}" update="panelJardin,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>