<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTablePregunta" header="PreguntaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{preguntaView.data}" var="pregunta"
								paginator="true" rows="5">
																										<p:column filterBy="#{pregunta.preId}" sortBy="#{pregunta.preId}" >
										 <f:facet name="header">
										<h:outputText value="preId"/>
										</f:facet>
										 <h:outputText value="#{pregunta.preId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{pregunta.descripcion}" sortBy="#{pregunta.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{pregunta.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pregunta.descripcionPregunta}" sortBy="#{pregunta.descripcionPregunta}" >
										 <f:facet name="header">
										<h:outputText value="DescripcionPregunta"/>
										</f:facet>
										 <h:outputText value="#{pregunta.descripcionPregunta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pregunta.estado}" sortBy="#{pregunta.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{pregunta.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pregunta.fechaCreacion}" sortBy="#{pregunta.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{pregunta.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pregunta.fechaModificacion}" sortBy="#{pregunta.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{pregunta.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pregunta.usuarioCreador}" sortBy="#{pregunta.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{pregunta.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{pregunta.usuarioModificador}" sortBy="#{pregunta.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{pregunta.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogPregunta"
										actionListener="#{preguntaView.action_edit}">
										<f:attribute name="selectedPregunta" value="#{pregunta}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{preguntaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedPregunta" value="#{pregunta}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{preguntaView.action_new()}" update=":dialogPregunta" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogPregunta" appendTo="@(body)" draggable="true"
						closable="false" visible="#{preguntaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelPregunta" header="Pregunta">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgPreId" value="PreId"/>
									 <p:inputText id="txtPreId" binding="#{preguntaView.txtPreId}">
									 <p:ajax update=":dialogPregunta" listener="#{preguntaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{preguntaView.txtDescripcion}"/>
																		<h:outputText id="msgDescripcionPregunta" value=" DescripcionPregunta"/>
									<p:inputText id="txtDescripcionPregunta" disabled="true" binding="#{preguntaView.txtDescripcionPregunta}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{preguntaView.txtEstado}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{preguntaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{preguntaView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{preguntaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{preguntaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{preguntaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{preguntaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{preguntaView.btnSave}" value="Save" action="#{preguntaView.action_save()}" update=":dialogPregunta :frm:panelDataTablePregunta" />
									<p:commandButton id="btnClear" value="Clear" action="#{preguntaView.action_clear()}" update=":dialogPregunta" />
									<p:commandButton id="btnExit" value="Exit" action="#{preguntaView.action_closeDialog()}" update=":dialogPregunta" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

