<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableResena" header="ResenaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{resenaView.data}" var="resena"
								paginator="true" rows="5">
																										<p:column filterBy="#{resena.resId}" sortBy="#{resena.resId}" >
										 <f:facet name="header">
										<h:outputText value="resId"/>
										</f:facet>
										 <h:outputText value="#{resena.resId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{resena.descripcion}" sortBy="#{resena.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{resena.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.estado}" sortBy="#{resena.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{resena.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.estadoJardin}" sortBy="#{resena.estadoJardin}" >
										 <f:facet name="header">
										<h:outputText value="EstadoJardin"/>
										</f:facet>
										 <h:outputText value="#{resena.estadoJardin}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.fechaCreacion}" sortBy="#{resena.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{resena.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.fechaModificacion}" sortBy="#{resena.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{resena.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.usuarioCreador}" sortBy="#{resena.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{resena.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.usuarioModificador}" sortBy="#{resena.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{resena.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.jarId_Jardin}" sortBy="#{resena.jarId_Jardin}" >
										 <f:facet name="header">
										<h:outputText value="JarId_Jardin"/>
										</f:facet>
										 <h:outputText value="#{resena.jarId_Jardin}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{resena.usuId_Usuario}" sortBy="#{resena.usuId_Usuario}" >
										 <f:facet name="header">
										<h:outputText value="UsuId_Usuario"/>
										</f:facet>
										 <h:outputText value="#{resena.usuId_Usuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogResena"
										actionListener="#{resenaView.action_edit}">
										<f:attribute name="selectedResena" value="#{resena}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{resenaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedResena" value="#{resena}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{resenaView.action_new()}" update=":dialogResena" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogResena" appendTo="@(body)" draggable="true"
						closable="false" visible="#{resenaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelResena" header="Resena">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgResId" value="ResId"/>
									 <p:inputText id="txtResId" binding="#{resenaView.txtResId}">
									 <p:ajax update=":dialogResena" listener="#{resenaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{resenaView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{resenaView.txtEstado}"/>
																		<h:outputText id="msgEstadoJardin" value=" EstadoJardin"/>
									<p:inputText id="txtEstadoJardin" disabled="true" binding="#{resenaView.txtEstadoJardin}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{resenaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{resenaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
									<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{resenaView.txtJarId_Jardin}"/>
																		<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
									<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{resenaView.txtUsuId_Usuario}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{resenaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{resenaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{resenaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{resenaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{resenaView.btnSave}" value="Save" action="#{resenaView.action_save()}" update=":dialogResena :frm:panelDataTableResena" />
									<p:commandButton id="btnClear" value="Clear" action="#{resenaView.action_clear()}" update=":dialogResena" />
									<p:commandButton id="btnExit" value="Exit" action="#{resenaView.action_closeDialog()}" update=":dialogResena" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

