<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelResena" header="Resena">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgResId" value="ResId"/>
						 	<p:inputText id="txtResId" binding="#{resenaView.txtResId}">
						 		<p:ajax update="panelResena,msg,panelBotones" listener="#{resenaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{resenaView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{resenaView.txtEstado}"/>
													<h:outputText id="msgEstadoJardin" value=" EstadoJardin"/>
							<p:inputText id="txtEstadoJardin" disabled="true" binding="#{resenaView.txtEstadoJardin}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{resenaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{resenaView.txtUsuarioModificador}"/>
													<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
							<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{resenaView.txtJarId_Jardin}"/>
													<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
							<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{resenaView.txtUsuId_Usuario}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{resenaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{resenaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{resenaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{resenaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{resenaView.btnSave}" disabled="true" value="Save" action="#{resenaView.action_save()}" update="panelResena,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{resenaView.btnDelete}" disabled="true" value="Delete" action="#{resenaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelResena,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{resenaView.action_clear()}" update="panelResena,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>