<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableRespuesta" header="RespuestaData">
							<p:growl id="men"/>				
							<p:dataTable value="#{respuestaView.data}" var="respuesta"
								paginator="true" rows="5">
																										<p:column filterBy="#{respuesta.respId}" sortBy="#{respuesta.respId}" >
										 <f:facet name="header">
										<h:outputText value="respId"/>
										</f:facet>
										 <h:outputText value="#{respuesta.respId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{respuesta.descripcion}" sortBy="#{respuesta.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{respuesta.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.descripcionRespuesta}" sortBy="#{respuesta.descripcionRespuesta}" >
										 <f:facet name="header">
										<h:outputText value="DescripcionRespuesta"/>
										</f:facet>
										 <h:outputText value="#{respuesta.descripcionRespuesta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.estado}" sortBy="#{respuesta.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{respuesta.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.fechaCreacion}" sortBy="#{respuesta.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{respuesta.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.fechaModificacion}" sortBy="#{respuesta.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{respuesta.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.usuarioCreador}" sortBy="#{respuesta.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{respuesta.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.usuarioModificador}" sortBy="#{respuesta.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{respuesta.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuesta.preId_Pregunta}" sortBy="#{respuesta.preId_Pregunta}" >
										 <f:facet name="header">
										<h:outputText value="PreId_Pregunta"/>
										</f:facet>
										 <h:outputText value="#{respuesta.preId_Pregunta}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogRespuesta"
										actionListener="#{respuestaView.action_edit}">
										<f:attribute name="selectedRespuesta" value="#{respuesta}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{respuestaView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedRespuesta" value="#{respuesta}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{respuestaView.action_new()}" update=":dialogRespuesta" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogRespuesta" appendTo="@(body)" draggable="true"
						closable="false" visible="#{respuestaView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelRespuesta" header="Respuesta">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgRespId" value="RespId"/>
									 <p:inputText id="txtRespId" binding="#{respuestaView.txtRespId}">
									 <p:ajax update=":dialogRespuesta" listener="#{respuestaView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{respuestaView.txtDescripcion}"/>
																		<h:outputText id="msgDescripcionRespuesta" value=" DescripcionRespuesta"/>
									<p:inputText id="txtDescripcionRespuesta" disabled="true" binding="#{respuestaView.txtDescripcionRespuesta}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{respuestaView.txtEstado}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{respuestaView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{respuestaView.txtUsuarioModificador}"/>
																		<h:outputText id="msgPreId_Pregunta" value=" PreId_Pregunta"/>
									<p:inputText id="txtPreId_Pregunta" disabled="true" binding="#{respuestaView.txtPreId_Pregunta}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{respuestaView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{respuestaView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{respuestaView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{respuestaView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{respuestaView.btnSave}" value="Save" action="#{respuestaView.action_save()}" update=":dialogRespuesta :frm:panelDataTableRespuesta" />
									<p:commandButton id="btnClear" value="Clear" action="#{respuestaView.action_clear()}" update=":dialogRespuesta" />
									<p:commandButton id="btnExit" value="Exit" action="#{respuestaView.action_closeDialog()}" update=":dialogRespuesta" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

