<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelRespuesta" header="Respuesta">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgRespId" value="RespId"/>
						 	<p:inputText id="txtRespId" binding="#{respuestaView.txtRespId}">
						 		<p:ajax update="panelRespuesta,msg,panelBotones" listener="#{respuestaView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{respuestaView.txtDescripcion}"/>
													<h:outputText id="msgDescripcionRespuesta" value=" DescripcionRespuesta"/>
							<p:inputText id="txtDescripcionRespuesta" disabled="true" binding="#{respuestaView.txtDescripcionRespuesta}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{respuestaView.txtEstado}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{respuestaView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{respuestaView.txtUsuarioModificador}"/>
													<h:outputText id="msgPreId_Pregunta" value=" PreId_Pregunta"/>
							<p:inputText id="txtPreId_Pregunta" disabled="true" binding="#{respuestaView.txtPreId_Pregunta}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{respuestaView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{respuestaView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{respuestaView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{respuestaView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{respuestaView.btnSave}" disabled="true" value="Save" action="#{respuestaView.action_save()}" update="panelRespuesta,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{respuestaView.btnDelete}" disabled="true" value="Delete" action="#{respuestaView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelRespuesta,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{respuestaView.action_clear()}" update="panelRespuesta,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>