<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableRespuestaxusuario" header="RespuestaxusuarioData">
							<p:growl id="men"/>				
							<p:dataTable value="#{respuestaxusuarioView.data}" var="respuestaxusuario"
								paginator="true" rows="5">
																										<p:column filterBy="#{respuestaxusuario.respusuId}" sortBy="#{respuestaxusuario.respusuId}" >
										 <f:facet name="header">
										<h:outputText value="respusuId"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.respusuId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{respuestaxusuario.descripcion}" sortBy="#{respuestaxusuario.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.descripcionPregunta}" sortBy="#{respuestaxusuario.descripcionPregunta}" >
										 <f:facet name="header">
										<h:outputText value="DescripcionPregunta"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.descripcionPregunta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.estado}" sortBy="#{respuestaxusuario.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.fechaCreacion}" sortBy="#{respuestaxusuario.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.fechaModificacion}" sortBy="#{respuestaxusuario.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.usuarioCreador}" sortBy="#{respuestaxusuario.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.usuarioModificador}" sortBy="#{respuestaxusuario.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.jarId_Jardin}" sortBy="#{respuestaxusuario.jarId_Jardin}" >
										 <f:facet name="header">
										<h:outputText value="JarId_Jardin"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.jarId_Jardin}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.respId_Respuesta}" sortBy="#{respuestaxusuario.respId_Respuesta}" >
										 <f:facet name="header">
										<h:outputText value="RespId_Respuesta"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.respId_Respuesta}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{respuestaxusuario.usuId_Usuario}" sortBy="#{respuestaxusuario.usuId_Usuario}" >
										 <f:facet name="header">
										<h:outputText value="UsuId_Usuario"/>
										</f:facet>
										 <h:outputText value="#{respuestaxusuario.usuId_Usuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogRespuestaxusuario"
										actionListener="#{respuestaxusuarioView.action_edit}">
										<f:attribute name="selectedRespuestaxusuario" value="#{respuestaxusuario}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{respuestaxusuarioView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedRespuestaxusuario" value="#{respuestaxusuario}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{respuestaxusuarioView.action_new()}" update=":dialogRespuestaxusuario" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogRespuestaxusuario" appendTo="@(body)" draggable="true"
						closable="false" visible="#{respuestaxusuarioView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelRespuestaxusuario" header="Respuestaxusuario">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgRespusuId" value="RespusuId"/>
									 <p:inputText id="txtRespusuId" binding="#{respuestaxusuarioView.txtRespusuId}">
									 <p:ajax update=":dialogRespuestaxusuario" listener="#{respuestaxusuarioView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{respuestaxusuarioView.txtDescripcion}"/>
																		<h:outputText id="msgDescripcionPregunta" value=" DescripcionPregunta"/>
									<p:inputText id="txtDescripcionPregunta" disabled="true" binding="#{respuestaxusuarioView.txtDescripcionPregunta}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{respuestaxusuarioView.txtEstado}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{respuestaxusuarioView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{respuestaxusuarioView.txtUsuarioModificador}"/>
																		<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
									<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{respuestaxusuarioView.txtJarId_Jardin}"/>
																		<h:outputText id="msgRespId_Respuesta" value=" RespId_Respuesta"/>
									<p:inputText id="txtRespId_Respuesta" disabled="true" binding="#{respuestaxusuarioView.txtRespId_Respuesta}"/>
																		<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
									<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{respuestaxusuarioView.txtUsuId_Usuario}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{respuestaxusuarioView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{respuestaxusuarioView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{respuestaxusuarioView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{respuestaxusuarioView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{respuestaxusuarioView.btnSave}" value="Save" action="#{respuestaxusuarioView.action_save()}" update=":dialogRespuestaxusuario :frm:panelDataTableRespuestaxusuario" />
									<p:commandButton id="btnClear" value="Clear" action="#{respuestaxusuarioView.action_clear()}" update=":dialogRespuestaxusuario" />
									<p:commandButton id="btnExit" value="Exit" action="#{respuestaxusuarioView.action_closeDialog()}" update=":dialogRespuestaxusuario" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

