<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelRespuestaxusuario" header="Respuestaxusuario">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgRespusuId" value="RespusuId"/>
						 	<p:inputText id="txtRespusuId" binding="#{respuestaxusuarioView.txtRespusuId}">
						 		<p:ajax update="panelRespuestaxusuario,msg,panelBotones" listener="#{respuestaxusuarioView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{respuestaxusuarioView.txtDescripcion}"/>
													<h:outputText id="msgDescripcionPregunta" value=" DescripcionPregunta"/>
							<p:inputText id="txtDescripcionPregunta" disabled="true" binding="#{respuestaxusuarioView.txtDescripcionPregunta}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{respuestaxusuarioView.txtEstado}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{respuestaxusuarioView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{respuestaxusuarioView.txtUsuarioModificador}"/>
													<h:outputText id="msgJarId_Jardin" value=" JarId_Jardin"/>
							<p:inputText id="txtJarId_Jardin" disabled="true" binding="#{respuestaxusuarioView.txtJarId_Jardin}"/>
													<h:outputText id="msgRespId_Respuesta" value=" RespId_Respuesta"/>
							<p:inputText id="txtRespId_Respuesta" disabled="true" binding="#{respuestaxusuarioView.txtRespId_Respuesta}"/>
													<h:outputText id="msgUsuId_Usuario" value=" UsuId_Usuario"/>
							<p:inputText id="txtUsuId_Usuario" disabled="true" binding="#{respuestaxusuarioView.txtUsuId_Usuario}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{respuestaxusuarioView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{respuestaxusuarioView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{respuestaxusuarioView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{respuestaxusuarioView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{respuestaxusuarioView.btnSave}" disabled="true" value="Save" action="#{respuestaxusuarioView.action_save()}" update="panelRespuestaxusuario,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{respuestaxusuarioView.btnDelete}" disabled="true" value="Delete" action="#{respuestaxusuarioView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelRespuestaxusuario,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{respuestaxusuarioView.action_clear()}" update="panelRespuestaxusuario,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>