<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableTipoUsuario" header="TipoUsuarioData">
							<p:growl id="men"/>				
							<p:dataTable value="#{tipoUsuarioView.data}" var="tipoUsuario"
								paginator="true" rows="5">
																										<p:column filterBy="#{tipoUsuario.tiusId}" sortBy="#{tipoUsuario.tiusId}" >
										 <f:facet name="header">
										<h:outputText value="tiusId"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.tiusId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{tipoUsuario.descripcion}" sortBy="#{tipoUsuario.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoUsuario.estado}" sortBy="#{tipoUsuario.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoUsuario.fechaCreacion}" sortBy="#{tipoUsuario.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoUsuario.fechaModificacion}" sortBy="#{tipoUsuario.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoUsuario.usuarioCreador}" sortBy="#{tipoUsuario.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{tipoUsuario.usuarioModificador}" sortBy="#{tipoUsuario.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{tipoUsuario.usuarioModificador}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogTipoUsuario"
										actionListener="#{tipoUsuarioView.action_edit}">
										<f:attribute name="selectedTipoUsuario" value="#{tipoUsuario}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{tipoUsuarioView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedTipoUsuario" value="#{tipoUsuario}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{tipoUsuarioView.action_new()}" update=":dialogTipoUsuario" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogTipoUsuario" appendTo="@(body)" draggable="true"
						closable="false" visible="#{tipoUsuarioView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelTipoUsuario" header="TipoUsuario">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgTiusId" value="TiusId"/>
									 <p:inputText id="txtTiusId" binding="#{tipoUsuarioView.txtTiusId}">
									 <p:ajax update=":dialogTipoUsuario" listener="#{tipoUsuarioView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{tipoUsuarioView.txtDescripcion}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{tipoUsuarioView.txtEstado}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{tipoUsuarioView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{tipoUsuarioView.txtUsuarioModificador}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoUsuarioView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{tipoUsuarioView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{tipoUsuarioView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{tipoUsuarioView.listener_txtFechaModificacion}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{tipoUsuarioView.btnSave}" value="Save" action="#{tipoUsuarioView.action_save()}" update=":dialogTipoUsuario :frm:panelDataTableTipoUsuario" />
									<p:commandButton id="btnClear" value="Clear" action="#{tipoUsuarioView.action_clear()}" update=":dialogTipoUsuario" />
									<p:commandButton id="btnExit" value="Exit" action="#{tipoUsuarioView.action_closeDialog()}" update=":dialogTipoUsuario" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

