<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelTipoUsuario" header="TipoUsuario">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgTiusId" value="TiusId"/>
						 	<p:inputText id="txtTiusId" binding="#{tipoUsuarioView.txtTiusId}">
						 		<p:ajax update="panelTipoUsuario,msg,panelBotones" listener="#{tipoUsuarioView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{tipoUsuarioView.txtDescripcion}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{tipoUsuarioView.txtEstado}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{tipoUsuarioView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{tipoUsuarioView.txtUsuarioModificador}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{tipoUsuarioView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{tipoUsuarioView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{tipoUsuarioView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{tipoUsuarioView.listener_txtFechaModificacion}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{tipoUsuarioView.btnSave}" disabled="true" value="Save" action="#{tipoUsuarioView.action_save()}" update="panelTipoUsuario,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{tipoUsuarioView.btnDelete}" disabled="true" value="Delete" action="#{tipoUsuarioView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelTipoUsuario,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{tipoUsuarioView.action_clear()}" update="panelTipoUsuario,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>