<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">	
			<h:form id="formDialog">
				<p:messages id="msg" />
				<p:growl id="men"/>
					<p:panel id="panelUsuario" header="Usuario">							
						<h:panelGrid columns="2" id="panelGrid" >
												 	<h:outputText id="msgUsuId" value="UsuId"/>
						 	<p:inputText id="txtUsuId" binding="#{usuarioView.txtUsuId}">
						 		<p:ajax update="panelUsuario,msg,panelBotones" listener="#{usuarioView.listener_txtId}"/>
						 	</p:inputText>	
																		
													<h:outputText id="msgApellidos" value=" Apellidos"/>
							<p:inputText id="txtApellidos" disabled="true" binding="#{usuarioView.txtApellidos}"/>
													<h:outputText id="msgCelular" value=" Celular"/>
							<p:inputText id="txtCelular" disabled="true" binding="#{usuarioView.txtCelular}"/>
													<h:outputText id="msgContrasena" value=" Contrasena"/>
							<p:inputText id="txtContrasena" disabled="true" binding="#{usuarioView.txtContrasena}"/>
													<h:outputText id="msgCorreo" value=" Correo"/>
							<p:inputText id="txtCorreo" disabled="true" binding="#{usuarioView.txtCorreo}"/>
													<h:outputText id="msgDescripcion" value=" Descripcion"/>
							<p:inputText id="txtDescripcion" disabled="true" binding="#{usuarioView.txtDescripcion}"/>
													<h:outputText id="msgEdad" value=" Edad"/>
							<p:inputText id="txtEdad" disabled="true" binding="#{usuarioView.txtEdad}"/>
													<h:outputText id="msgEstado" value=" Estado"/>
							<p:inputText id="txtEstado" disabled="true" binding="#{usuarioView.txtEstado}"/>
													<h:outputText id="msgNombres" value=" Nombres"/>
							<p:inputText id="txtNombres" disabled="true" binding="#{usuarioView.txtNombres}"/>
													<h:outputText id="msgSexo" value=" Sexo"/>
							<p:inputText id="txtSexo" disabled="true" binding="#{usuarioView.txtSexo}"/>
													<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
							<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{usuarioView.txtUsuarioCreador}"/>
													<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
							<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{usuarioView.txtUsuarioModificador}"/>
													<h:outputText id="msgTiusId_TipoUsuario" value=" TiusId_TipoUsuario"/>
							<p:inputText id="txtTiusId_TipoUsuario" disabled="true" binding="#{usuarioView.txtTiusId_TipoUsuario}"/>
												
																				<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{usuarioView.txtFechaCreacion}" >
								<p:ajax event="dateSelect" listener="#{usuarioView.listener_txtFechaCreacion}" />
							</p:calendar>
														<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{usuarioView.txtFechaModificacion}" >
								<p:ajax event="dateSelect" listener="#{usuarioView.listener_txtFechaModificacion}" />
							</p:calendar>
														<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
														<p:calendar showOn="button" navigator="true" locale="en" 
							binding="#{usuarioView.txtFechaNacimiento}" >
								<p:ajax event="dateSelect" listener="#{usuarioView.listener_txtFechaNacimiento}" />
							</p:calendar>
																	   </h:panelGrid>
				</p:panel>
	   			<p:panel id="panelBotones">
					<div align="center">					
						<p:commandButton id="btnSave" binding="#{usuarioView.btnSave}" disabled="true" value="Save" action="#{usuarioView.action_save()}" update="panelUsuario,msg,panelBotones" />
						<p:commandButton id="btnDelete" binding="#{usuarioView.btnDelete}" disabled="true" value="Delete" action="#{usuarioView.action_delete_master()}" onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}" update="panelUsuario,msg,panelBotones" />
						<p:commandButton id="btnClear" value="Clear" action="#{usuarioView.action_clear()}" update="panelUsuario,msg,panelBotones" />
					</div>
				</p:panel>			
			</h:form>
  </ui:define>
</ui:composition>