<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">
		 
	<ui:define name="content">		

		  			<h:form id="frm">								  		
						
						<p:panel id="panelDataTableUsuario" header="UsuarioData">
							<p:growl id="men"/>				
							<p:dataTable value="#{usuarioView.data}" var="usuario"
								paginator="true" rows="5">
																										<p:column filterBy="#{usuario.usuId}" sortBy="#{usuario.usuId}" >
										 <f:facet name="header">
										<h:outputText value="usuId"/>
										</f:facet>
										 <h:outputText value="#{usuario.usuId}"/>
										 </p:column>
			                    																									
										<p:column filterBy="#{usuario.apellidos}" sortBy="#{usuario.apellidos}" >
										 <f:facet name="header">
										<h:outputText value="Apellidos"/>
										</f:facet>
										 <h:outputText value="#{usuario.apellidos}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.celular}" sortBy="#{usuario.celular}" >
										 <f:facet name="header">
										<h:outputText value="Celular"/>
										</f:facet>
										 <h:outputText value="#{usuario.celular}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.contrasena}" sortBy="#{usuario.contrasena}" >
										 <f:facet name="header">
										<h:outputText value="Contrasena"/>
										</f:facet>
										 <h:outputText value="#{usuario.contrasena}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.correo}" sortBy="#{usuario.correo}" >
										 <f:facet name="header">
										<h:outputText value="Correo"/>
										</f:facet>
										 <h:outputText value="#{usuario.correo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.descripcion}" sortBy="#{usuario.descripcion}" >
										 <f:facet name="header">
										<h:outputText value="Descripcion"/>
										</f:facet>
										 <h:outputText value="#{usuario.descripcion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.edad}" sortBy="#{usuario.edad}" >
										 <f:facet name="header">
										<h:outputText value="Edad"/>
										</f:facet>
										 <h:outputText value="#{usuario.edad}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.estado}" sortBy="#{usuario.estado}" >
										 <f:facet name="header">
										<h:outputText value="Estado"/>
										</f:facet>
										 <h:outputText value="#{usuario.estado}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.fechaCreacion}" sortBy="#{usuario.fechaCreacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaCreacion"/>
										</f:facet>
										 <h:outputText value="#{usuario.fechaCreacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.fechaModificacion}" sortBy="#{usuario.fechaModificacion}" >
										 <f:facet name="header">
										<h:outputText value="FechaModificacion"/>
										</f:facet>
										 <h:outputText value="#{usuario.fechaModificacion}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.fechaNacimiento}" sortBy="#{usuario.fechaNacimiento}" >
										 <f:facet name="header">
										<h:outputText value="FechaNacimiento"/>
										</f:facet>
										 <h:outputText value="#{usuario.fechaNacimiento}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.nombres}" sortBy="#{usuario.nombres}" >
										 <f:facet name="header">
										<h:outputText value="Nombres"/>
										</f:facet>
										 <h:outputText value="#{usuario.nombres}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.sexo}" sortBy="#{usuario.sexo}" >
										 <f:facet name="header">
										<h:outputText value="Sexo"/>
										</f:facet>
										 <h:outputText value="#{usuario.sexo}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.usuarioCreador}" sortBy="#{usuario.usuarioCreador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioCreador"/>
										</f:facet>
										 <h:outputText value="#{usuario.usuarioCreador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.usuarioModificador}" sortBy="#{usuario.usuarioModificador}" >
										 <f:facet name="header">
										<h:outputText value="UsuarioModificador"/>
										</f:facet>
										 <h:outputText value="#{usuario.usuarioModificador}"/>
										</p:column>   
			                    									
										<p:column filterBy="#{usuario.tiusId_TipoUsuario}" sortBy="#{usuario.tiusId_TipoUsuario}" >
										 <f:facet name="header">
										<h:outputText value="TiusId_TipoUsuario"/>
										</f:facet>
										 <h:outputText value="#{usuario.tiusId_TipoUsuario}"/>
										</p:column>   
			                    			                    
								<p:column headerText="Options">
									<p:commandButton id="btnEdit" icon="ui-icon-pencil"
										update=":dialogUsuario"
										actionListener="#{usuarioView.action_edit}">
										<f:attribute name="selectedUsuario" value="#{usuario}" />
									</p:commandButton>
									<p:commandButton id="btnDelete"									
										title="Delete" actionListener="#{usuarioView.action_delete_datatable}"
										onclick="if(!confirm('Do you really want to delete this Entry?')){return false;}"
										icon="ui-icon-trash" update="@form">
										<f:attribute name="selectedUsuario" value="#{usuario}" />
									</p:commandButton>
								</p:column>									                    
							</p:dataTable>	
						</p:panel>
						<p:panel id="panelBoton">
							<div align="center">
								<p:commandButton id="btnNew" value="New"
									action="#{usuarioView.action_new()}" update=":dialogUsuario" />
							</div>
						</p:panel>						
		   			</h:form>
					<p:dialog id="dialogUsuario" appendTo="@(body)" draggable="true"
						closable="false" visible="#{usuarioView.showDialog}" resizable="false"
						modal="true" width="500">
						<h:form id="formDialog">
							<p:messages id="msg" />
							<p:panel id="panelUsuario" header="Usuario">							
							    <h:panelGrid columns="2" id="panelGrid" >
																		 <h:outputText id="msgUsuId" value="UsuId"/>
									 <p:inputText id="txtUsuId" binding="#{usuarioView.txtUsuId}">
									 <p:ajax update=":dialogUsuario" listener="#{usuarioView.listener_txtId}"/>
									 </p:inputText>	
																											
																		<h:outputText id="msgApellidos" value=" Apellidos"/>
									<p:inputText id="txtApellidos" disabled="true" binding="#{usuarioView.txtApellidos}"/>
																		<h:outputText id="msgCelular" value=" Celular"/>
									<p:inputText id="txtCelular" disabled="true" binding="#{usuarioView.txtCelular}"/>
																		<h:outputText id="msgContrasena" value=" Contrasena"/>
									<p:inputText id="txtContrasena" disabled="true" binding="#{usuarioView.txtContrasena}"/>
																		<h:outputText id="msgCorreo" value=" Correo"/>
									<p:inputText id="txtCorreo" disabled="true" binding="#{usuarioView.txtCorreo}"/>
																		<h:outputText id="msgDescripcion" value=" Descripcion"/>
									<p:inputText id="txtDescripcion" disabled="true" binding="#{usuarioView.txtDescripcion}"/>
																		<h:outputText id="msgEdad" value=" Edad"/>
									<p:inputText id="txtEdad" disabled="true" binding="#{usuarioView.txtEdad}"/>
																		<h:outputText id="msgEstado" value=" Estado"/>
									<p:inputText id="txtEstado" disabled="true" binding="#{usuarioView.txtEstado}"/>
																		<h:outputText id="msgNombres" value=" Nombres"/>
									<p:inputText id="txtNombres" disabled="true" binding="#{usuarioView.txtNombres}"/>
																		<h:outputText id="msgSexo" value=" Sexo"/>
									<p:inputText id="txtSexo" disabled="true" binding="#{usuarioView.txtSexo}"/>
																		<h:outputText id="msgUsuarioCreador" value=" UsuarioCreador"/>
									<p:inputText id="txtUsuarioCreador" disabled="true" binding="#{usuarioView.txtUsuarioCreador}"/>
																		<h:outputText id="msgUsuarioModificador" value=" UsuarioModificador"/>
									<p:inputText id="txtUsuarioModificador" disabled="true" binding="#{usuarioView.txtUsuarioModificador}"/>
																		<h:outputText id="msgTiusId_TipoUsuario" value=" TiusId_TipoUsuario"/>
									<p:inputText id="txtTiusId_TipoUsuario" disabled="true" binding="#{usuarioView.txtTiusId_TipoUsuario}"/>
																		
																													<h:outputText id="msgFechaCreacion" value=" FechaCreacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{usuarioView.txtFechaCreacion}" >
										<p:ajax event="dateSelect" listener="#{usuarioView.listener_txtFechaCreacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaModificacion" value=" FechaModificacion"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{usuarioView.txtFechaModificacion}" >
										<p:ajax event="dateSelect" listener="#{usuarioView.listener_txtFechaModificacion}"  />
										</p:calendar>
																				<h:outputText id="msgFechaNacimiento" value=" FechaNacimiento"/>
																				<p:calendar showOn="button" navigator="true" locale="en" 
										binding="#{usuarioView.txtFechaNacimiento}" >
										<p:ajax event="dateSelect" listener="#{usuarioView.listener_txtFechaNacimiento}"  />
										</p:calendar>
																										    </h:panelGrid>
							</p:panel>						   
							<p:panel id="panelBotones">
								<div align="center">					
									<p:commandButton id="btnSave" binding="#{usuarioView.btnSave}" value="Save" action="#{usuarioView.action_save()}" update=":dialogUsuario :frm:panelDataTableUsuario" />
									<p:commandButton id="btnClear" value="Clear" action="#{usuarioView.action_clear()}" update=":dialogUsuario" />
									<p:commandButton id="btnExit" value="Exit" action="#{usuarioView.action_closeDialog()}" update=":dialogUsuario" />
								</div>
				</p:panel>
			</h:form>
		</p:dialog>
	</ui:define>
</ui:composition>

